name: Build
on: [push, pull_request]

jobs:
  build-android:
    name: Build APKs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
      - uses: actions/setup-java@v4
        with:
          distribution: '<distribution>'
          java-version: 17
          workdir: .
          command: sudo /usr/bin/python3 -m pip install cython==0.29.33 && pip3 install cython==0.29.33 && buildozer android debug
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package-project-eyesight
          path: ${{ steps.buildozer.outputs.filename }}
